<%= form_for(reach) do |f| %>
  <% if reach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reach.errors.count, "error") %> prohibited this reach from being saved:</h2>

      <ul>
      <% reach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label style="font-weight: 600;">What do you want to do online with your business or organization?</label>
    <span style="color: #d9b806; font-size: 12px;"><br>Eg. Build a website to get clients for my business / Build a website to get customers to by my product / Build a website to get support for my organization (NGO, School etc)</span>
    <%= f.text_area :whatyouwant, :class => "form-control", :rows => "3", :placeholder => "What do you want to do .."  %>
  </div>

  <div class="form-group">
    <label style="font-weight: 600;">How long have you been running your business?</label><br>
    <input type="radio" name="reach[howlongrun]" id="reach_howlongrun" value="1 Year or less"> 1 Year or less
  <input type="radio" name="reach[howlongrun]" id="reach_howlongrun" value="1 - 2 years" style="margin-left: 10px;"> 1 - 2 years
  <input type="radio" name="reach[howlongrun]" id="reach_howlongrun" value="3 - 4 years" style="margin-left: 10px;"> 3 - 4 years
  <input type="radio" name="reach[howlongrun]" id="reach_howlongrun" value="More than years" style="margin-left: 10px;"> More than 5 years
  </div>

  <div class="form-group">
    <label style="font-weight: 600;">Have you ever tried any online methods to promote your business?</label><br>
    <input type="radio" name="reach[triedonline]" id="reach_triedonline" value="Yes"> Yes
  <input type="radio" name="reach[triedonline]" id="reach_triedonline" value="No" style="margin-left: 10px;"> No
  </div>

  <div class="form-group">
    <label style="font-weight: 600;">Have you ever spent money to build a website, or do any online marketing?</label><br>
    <input type="radio" name="reach[everspentmoney]" id="reach_everspentmoney" value="Yes"> Yes
  <input type="radio" name="reach[everspentmoney]" id="reach_everspentmoney" value="No" style="margin-left: 10px;"> No
  </div>

  <div class="form-group">
    <label style="font-weight: 600;">Do you have running website?</label><br>
    <input type="radio" name="reach[runningwebsite]" id="reach_runningwebsite" value="Yes"> Yes
  <input type="radio" name="reach[runningwebsite]" id="reach_runningwebsite" value="No" style="margin-left: 10px;"> No
  </div>

  <div class="form-group">
    <label style="font-weight: 600;">What is the website's purpose and what is your objective for having a website?</label><br>
    <input type="checkbox" name="reach[websitepurpose][]" id="reach_websitepurpose_1" 
    value="To Make Sales"> To make sales<br>
    <input type="checkbox" name="reach[websitepurpose][]" id="reach_websitepurpose_2" 
    value="To build an audience I can consistently market to."> To build an audience I can consistently market to.<br>
    <input type="checkbox" name="reach[websitepurpose][]" id="reach_websitepurpose_3" 
    value="To build a personal brand"> To build a personal brand<br>
    <input type="checkbox" name="reach[websitepurpose][]" id="reach_websitepurpose_4" 
    value="To build my company's brand"> To build my company's brand<br>
    <input type="checkbox" name="reach[websitepurpose][]" id="reach_websitepurpose_5" 
    value="To get support for my organization"> To get support for my organization (NGO, Non Profit, School etc)<br>
  </div>

  <div class="form-group">
    <label style="font-weight: 600;">What goals do you want to achieve with your website?</label><br>
    <input type="checkbox" name="reach[objectiveachieve][]" id="reach_objectiveachieve_1" 
    value="Build a consistent system to generate sales for my business"> Build a consistent system to generate sales for my business<br>
    <input type="checkbox" name="reach[objectiveachieve][]" id="reach_objectiveachieve_2" 
    value="Increase my current sales by 100 - 200%"> Increase my current sales by 100 - 200%<br>
    <input type="checkbox" name="reach[objectiveachieve][]" id="reach_objectiveachieve_4" 
    value="Build a large audience I can consistently market to"> Build a large audience I can consistently market to<br>
    <input type="checkbox" name="reach[objectiveachieve][]" id="reach_objectiveachieve_3" 
    value="Communicate my brand's message to a huge audience"> Communicate my brand's message to a huge audience<br>
    <input type="checkbox" name="reach[objectiveachieve][]" id="reach_objectiveachieve_5" 
    value="Get external help for my organization (School, NGO, Non Profit)"> Get help for my organization (School, NGO, Non Profit)<br>
  </div>

  <div class="form-group">
    <label style="font-weight: 600;">Can you invest at least 3000 cedis a year to make this work?</label>
    <br>
    <input type="radio" name="reach[investatleast]" id="reach_investatleast" value="Yes (If I can figure out how to grow"> Yes. (If I can figure out how to grow my Business / Brand)<br>
  <input type="radio" name="reach[investatleast]" id="reach_investatleast" value="No, I wont" style=""> No, I wont.
  </div>
  <br>
  <hr>
  <h3>Contact information</h3>
  <br>
  <div class="form-group">
    <label style="font-weight: 500;">Name</label>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Your name" %>
  </div>

  <div class="form-group">
    <label style="font-weight: 500;">Phone Number</label>
    <%= f.text_field :phonenumber, :class => "form-control", :placeholder => "Your Phone Number" %>
  </div>

  <div class="form-group">
    <label style="font-weight: 500;">WhatsApp Number</label> <span style="font-size: 12px;">(Optional)</span>
    <%= f.text_field :whatsappnumber, :class => "form-control", :placeholder => "Your WhatsApp Number" %>
  </div>

  <div class="form-group">
    <label style="font-weight: 500;">Email</label>
    <%= f.text_field :email, :class => "form-control", :placeholder => "Your Email" %>
  </div>

  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
