<p id="notice"><%= notice %></p>

<h1>Reaches</h1>

<table>
  <thead>
    <tr>
      <th>Whatyouwant</th>
      <th>Howlongrun</th>
      <th>Triedonline</th>
      <th>Everspentmoney</th>
      <th>Runningwebsite</th>
      <th>Websitepurpose</th>
      <th>Objectiveachieve</th>
      <th>Investatleast</th>
      <th>Name</th>
      <th>Phonenumber</th>
      <th>Whatsappnumber</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reaches.each do |reach| %>
      <tr>
        <td><%= reach.whatyouwant %></td>
        <td><%= reach.howlongrun %></td>
        <td><%= reach.triedonline %></td>
        <td><%= reach.everspentmoney %></td>
        <td><%= reach.runningwebsite %></td>
        <td><%= reach.websitepurpose %></td>
        <td><%= reach.objectiveachieve %></td>
        <td><%= reach.investatleast %></td>
        <td><%= reach.name %></td>
        <td><%= reach.phonenumber %></td>
        <td><%= reach.whatsappnumber %></td>
        <td><%= reach.email %></td>
        <td><%= link_to 'Show', reach %></td>
        <td><%= link_to 'Edit', edit_reach_path(reach) %></td>
        <td><%= link_to 'Destroy', reach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reach', new_reach_path %>
