<p id="notice"><%= notice %></p>

<p>
  <strong>Whatyouwant:</strong>
  <%= @reach.whatyouwant %>
</p>

<p>
  <strong>Howlongrun:</strong>
  <%= @reach.howlongrun %>
</p>

<p>
  <strong>Triedonline:</strong>
  <%= @reach.triedonline %>
</p>

<p>
  <strong>Everspentmoney:</strong>
  <%= @reach.everspentmoney %>
</p>

<p>
  <strong>Runningwebsite:</strong>
  <%= @reach.runningwebsite %>
</p>

<p>
  <strong>Websitepurpose:</strong>
  <%= @reach.websitepurpose %>
</p>

<p>
  <strong>Objectiveachieve:</strong>
  <%= @reach.objectiveachieve %>
</p>

<p>
  <strong>Investatleast:</strong>
  <%= @reach.investatleast %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reach.name %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @reach.phonenumber %>
</p>

<p>
  <strong>Whatsappnumber:</strong>
  <%= @reach.whatsappnumber %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reach.email %>
</p>

<%= link_to 'Edit', edit_reach_path(@reach) %> |
<%= link_to 'Back', reaches_path %>
